.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 300;
    background-color: wheat;
}

button {
  margin: 0;
}
